
@if (User.Identity.IsAuthenticated)
{
    <li><a asp-controller="Home" asp-action="Checkout"><i class="fa fa-user"></i>Здравствуйте, @User.Identity.Name</a></li>    
    <a asp-action="Logout" asp-controller="Account" class="btn btn-default">Exit</a>   
}
else
{
    <div class="btn-group pull-right">
        <a asp-action="Login" asp-controller="Account" class="btn btn-default">Вход</a>
        <a asp-action="Register" asp-controller="Account" class="btn btn-default">Регистрация</a>
    </div>
}